#createaccount, #enter, #secondenter, #info, #backlogin, #backpassword, #plusavatar, .columnimage  {
	background: url("../images/1pagesprites.png") no-repeat;
	background-size: 650px 197px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
	#createaccount, #enter, #secondenter, #info, #backlogin, #backpassword, #plusavatar, .columnimage {
		background: url("../images/1pagesprites@2x.png") no-repeat;
		background-size: 650px 197px;
	}
}

/*========================== CARDS WRAPPER ===========================*/

#loginpage {
	top:0; bottom: 0; left:0; right: 0;
	position: absolute;
	margin: auto;
	width: 300px;
	height: 500px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
	display: none;
}
.CCattribution {
	position: relative;
	top: 50px;
	text-align: center;
	font-family: "Helvetica", "Arial";
	font-size: 12px;
	line-height: 30px;
	color: #525252;
	padding-bottom: 90px;
}
.CCattribution a {
	color: #7ba1b4;
}

#loginpage, .front, .back {
	width: 300px;
	height: 500px;
}
#flipper {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	-webkit-transition: 1000ms;
	-moz-transition: 1000ms;
	-ms-transition: 1000ms;
	-o-transition: 1000ms;
	transition: 1000ms;
	position: relative;
	overflow: visible;
}
.flippedcardinfo {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.FRONTCARD, .BACKCARD {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: visible;
	top:0; bottom: 0; left:0; right: 0;
	position: absolute;
	text-align: center;
	width: 300px;
}
.fliptext {
	position: absolute;
	text-transform: uppercase;
	left: 0px; right: 0px; bottom: -10px;
	height: 30px;
	font-size: 11px;
	color: #6e6e6e;
	line-height: 0.95em;
	display: inline-block;
	font-family: Arial;
	background-color: white;
}
.fliptext a{
	color: #96bcce;
	text-decoration: none;
	border-bottom: 1px dashed #96bcce;
}
.fliptext a:hover{
	color: #7ba1b4;
	text-decoration: none;
	border-bottom: 1px dashed #7ba1b4;
}

/*================================= FIRST CARD =================================*/
.FRONTCARD {
	z-index: 2;
	height: 450px;
	background-color: white;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.auto-shake{
	-webkit-animation: 1s auto-shake ease-out;
	-moz-animation: 1s auto-shake ease-out;
	-o-animation: 1s auto-shake ease-out;
	-ms-animation: 1s auto-shake ease-out;
	animation: 1s auto-shake ease-out;
}
.hover-shake{
	-webkit-animation: 1.6s hover-shake ease-out;
	-moz-animation: 1.6s hover-shake ease-out;
	-o-animation: 1.6s hover-shake ease-out;
	-ms-animation: 1.6s hover-shake ease-out;
	animation: 1.6s hover-shake ease-out;
}
.loadingspin{
	-webkit-animation: 2s loadingspin;
	-moz-animation: 2s loadingspin;
	-o-animation: 2s loadingspin;
	-ms-animation: 2s loadingspin;
	animation: 2s loadingspin;
}
#piggy {
	display: block;
	background: url("../images/piggy_large.gif") no-repeat;
	background-size: 178px 178px;
	width: 178px;
	height: 178px;
	position: relative;
	margin: auto;
	z-index: 50;
}
#enter, #secondenter {
	-webkit-animation: enterarrow 2s infinite;
	-moz-animation: enterarrow 2s infinite;
	-o-animation: enterarrow 2s infinite;
	-ms-animation: enterarrow 2s infinite;
	animation: enterarrow 2s infinite;
	background-position: -190px -60px;
	margin-left: 222px;
	margin-top: 18px;
	width: 52px;
	height: 12px;
	position: absolute;
	cursor: pointer;
	display: none;
	z-index: 7;
}
#secondenter{
	position: absolute;
	bottom: 85px;
	z-index: 4;
}
#preloader{
	background: url("../images/preloader.gif") center no-repeat;
	background-size: 18px 18px;
	margin-left: 210px;
	bottom: 69px;
	position: absolute;
	display: none;
	width: 52px;
	height: 46px;
	z-index: 5;
}

/*FLIP BUTTON*/
#wrapper {
	display: block;
	font-size: 13px;
	color: black;
	position: absolute;
	top: 335px;
	width: 300px;
	height: 46px;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	-ms-perspective: 1100px;
	-o-perspective: 1100px;
	perspective: 1100px;
	-ms-transform: rotated3(1,0,0,0);
	-webkit-transform-origin: 50% 46px 0;
	-moz-transform-origin: 50% 46px 0;
	-ms-transform-origin: 50% 46px 0;
	-o-transform-origin: 50% 46px 0;
	transform-origin: 10% 46px 0;
	z-index: 3;
}
#cube {
	position: absolute;
	width: 300px;
	height: 46px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: all 400ms cubic-bezier(0.67, 0.07, 0.50, 0.88);
	-moz-transition: all 400ms cubic-bezier(0.67, 0.07, 0.50, 0.88);
	-ms-transition: all 400ms cubic-bezier(0.67, 0.07, 0.50, 0.88);
	-o-transition: all 400ms cubic-bezier(0.67, 0.07, 0.50, 0.88);
	transition: all 400ms cubic-bezier(0.67, 0.07, 0.50, 0.88);
}
.flippedform{
	-webkit-transform-origin: 0 46px -46px;
	-moz-transform-origin: 0 46px -46px;
	-ms-transform-origin: 0 46px -46px;
	-o-transform-origin: 0 46px -46px;
	transform-origin: 0 46px -46px;
	-webkit-transform: rotate3d(1,0,0,90deg);
	-moz-transform: rotate3d(1,0,0,90deg);
	-ms-transform: rotate3d(1,0,0,90deg);
	-o-transform: rotate3d(1,0,0,90deg);
	transform: rotate3d(1,0,0,90deg);
}
.side {
	outline: 3px double #a6ccd9;
	text-indent: 15px;
	width: 300px;
	height: 46px;
	line-height: 48px;
	position: absolute;
}
#backlogin, #backpassword  {
	display: block;
	position: absolute;
	left: 66px;
	top: 12px;
	border-color: 1px solid;
	width: 22px;
	height: 20px;
}
#backlogin {
	background-position: -250px -24px;
}
#backpassword {
	background-position: -250px 0;
}
#side1 {
	background-position: -250px -24px;
	background-color: white;
	width: 300px;
	height: 46px;
}
#side2 {
	background-color: white;
	-webkit-transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
	-moz-transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
	-ms-transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
	-o-transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
	transform: translateZ(-23px) translateY(23px) rotateX(-90deg);
}

/* END OF FLIP BUTTON */

#logotext {
	background: url("../images/logotext_large.gif") no-repeat;
	background-size: 172px 65px;
	width: 172px;
	height: 65px;
	position: relative;
	margin: auto;
	margin-top: 36px;
}
#info {
	background-position: -190px 0;
	cursor: pointer;
	width: 49px;
	height: 49px;
	position: absolute;
	margin: auto;
	top:-10px;
	right: -20px;
}

/* FIRST CARD FORMS */

input[class="frontforms"]{
	border: 0px solid;
	position: relative;
	color: #4c4c4c;
	font-family: Arial;
	font-size: 15px;
}
input[id="frontloginform"]{
	margin-left: 20px;
	height: 25px;
	width: 110px;
}
input[id="frontpasswordform"]{
	margin-left: 25px;
	height: 25px;
	width: 95px;
}
.ghostform {
	display: none;
}

input[class="backforms"]:focus { outline: none; }
input[class="backforms"]::-webkit-input-placeholder{font-family: Arial; font-size: 15px; color: #cdcdcd;}
input[class="backforms"]:-ms-input-placeholder{font-family: Arial; font-size: 15px; color: #cdcdcd;}
input[class="backforms"]:-moz-placeholder{font-family: Arial; font-size: 15px; color: #cdcdcd;}
input[type="text"]:focus, input[type="password"]:focus { outline: none; }
input[class="frontforms"]::-webkit-input-placeholder{font-family: Arial; font-size: 15px; color: #cdcdcd;}
input[class="frontforms"]:-ms-input-placeholder{font-family: Arial; font-size: 15px; color: #cdcdcd;}
input[class="frontforms"]:-moz-placeholder{font-family: Arial; font-size: 15px; color: #cdcdcd;}

/*================================= SECOND CARD =================================*/

.BACKCARD {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background-color: white;
	z-index: 1;
	height: 500px;
}
#franklin{
	border: 1px solid #b9d6dc;
	-webkit-border-radius: 90px;
	-ms-border-radius: 90px;
	-o-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	top:0; left: 0; right: 0; bottom: 0;
	position: relative;
	margin: auto;
	width: 162px;
	height: 162px;

}
#plusavatar {
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	width: 180px;
	height: 180px;
	position: absolute;
	top:10px; left:0; right: 0;
	background-position: 0 -40px;
	margin: auto;
	z-index: 2;
}
.avataranimation {
	-webkit-animation: 2.5s plusavatar;
	-moz-animation: 2.5s plusavatar;
	-o-animation: 2.5s plusavatar;
	-ms-animation: 2.5s plusavatar;
	animation: 2.5s plusavatar;
}
.infiniteavataranimation {
	-webkit-animation: 1.5s infinite plusavatar;
	-moz-animation: 1.5s infinite plusavatar;
	-o-animation: 1.5s infinite plusavatar;
	-ms-animation: 1.5s infinite plusavatar;
	animation: 1.5s infinite plusavatar;
}

#createaccount {
	background-position: -190px -80px;
	width: 134px;
	height: 44px;
	position: relative;
	margin: auto;
	margin-top: 24px;
}
.inputWrapper {
	top:-335px; left: 0; right: 0; bottom: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;
	cursor: pointer;
	width: 180px;
	height: 180px;
	z-index: 3;
}

.hidden {
	opacity: 0;
	-moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}
.upload {
	-webkit-animation: plus 2s infinite;
	-moz-animation: plus 2s infinite;
	-o-animation: plus 2s infinite;
	-ms-animation: plus 2s infinite;
	animation: plus 2s infinite;
}
#mailform {
	position: absolute;
	top: 190px;
	margin: auto;
	right:-120px;
	text-transform: uppercase;
	width: 540px;
	height: 330px;
	font-size: 13px;
	display: block;
	opacity: 0.9;
	display: none;
}
.mailforminfo {
	position: relative;
	text-transform: none;
	top:-60px;
	font-family: "Museo-500";
	font-size: 12px;
	color: #525252;
}
.mailforminfosmall {
	font-size: 11px;
	position: relative;
	top: 30px;
	line-height: 1.7;
}
#skipmail a {
	position: relative;
	text-transform: uppercase;
	left: 0px; right: 0px; bottom: -193px;
	font-size: 11px;
	font-family: Arial;
	color: #96bcce;
	text-decoration: none;
	border-bottom: 1px dashed #96bcce;
}

#skipmail a:hover{
	color: #7ba1b4;
	text-decoration: none;
	border-bottom: 1px dashed #7ba1b4;
}

/* SECOND CARD FORMS */

#registrationforms {
	position: relative;
	top: 36px;
	line-height: 3.3em;
}
input[class="backforms"]{
	text-align: center;
	border: 1px solid #a6ccd9;
	color: #4c4c4c;
	font-family: Arial;
	font-size: 15px;
	height: 30px;
	width: 296px;
}
input[id="backmailform"] {
	position: relative;
	text-align: center;
	border: 1px solid #a6ccd9;
	color: #4c4c4c;
	font-family: Arial;
	font-size: 15px;
	height: 30px;
	width: 296px;
	top: 140px;
}
.regbutton, .demobutton, .mailbutton {
	cursor: pointer;
	position: relative;
	background-color: white;
	border: 0px solid;
	outline: 3px double #a6ccd9;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px white;
	color: #6e6e6e;
}
.regbutton:hover, .demobutton:hover, .mailbutton:hover  {
	background-color: #f4f9fb;
}
.regbutton:active, .demobutton:active, .mailbutton:active  {
	background-color: #ecf3f6;
}

.regbutton {
	height: 34px;
	width: 195px;
	top:18px;
	font-size: 11px;
}
.demobutton {
	letter-spacing: 3px;
	height: 50px;
	width: 300px;
	top: 436px;
	font-size: 12px;
}
.mailbutton {
	position: relative;
	height: 34px;
	width: 195px;
	top: 178px;
	font-size: 11px;
}

/* THIRD CARD */
.flipinfo, .frominfo {
	cursor: pointer;
}
.infoflipback {
	position: absolute;
	top: -12%;
	width: 100%;
	height: 500px;
	cursor: pointer;
}
#infopage {
	margin-left: -290px;
	margin-top: -90px;
	height: 660px;
	width: 870px;
	background-color: white;
	z-index: 4;
	display: none;
	position: absolute;
	color: #525252;
}
#regpage {
	display: block;
}
#infosubtitle, #infotitle, #infofooter, #iconsfooter {
	cursor: pointer;
	font-family: "Museo-500";
	position: absolute;
	left: 0; right: 0;
	margin: auto;
	width: 100%;
}
#infosubtitle {
	text-transform: uppercase;
	font-size: 11px;
	top: 0;
	height: 30px;
}
#infotitle {
	text-transform: uppercase;
	font-size: 27px;
	top: 35px;
	height: 40px;
}
a#infofooter {
	background-image: url("../images/github.gif");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
	color: #757575;
	text-decoration: none;
	display: block;
	line-height: 120px;
	font-size: 12px;
	bottom: 30px;
	margin: auto;
	width: 20%;
	height: 25px;
}
a#iconsfooter {
	background-position: center;
	color: #757575;
	text-decoration: none;
	font-size: 10px;
	bottom: -30px;
}
#infoline {
	position: relative;
	width: 610px;
	display: block;
	margin: auto;
	top: 425px;
	border-top: 1px solid #b8d9e1;
}
#infolinetext {
	font-family: "Museo-500";
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	line-height: 30px;
	position: relative;
	width: 245px;
	height: 30px;
	display: block;
	margin: auto;
	top: 410px;
	background-color: white;
}
.infocolumn {
	position: absolute;
	top: 150px;
	margin: auto;
	display: block;
	width: 286px;
	height: 236px;
	overflow: hidden;
}
#infoleft {
	left:0;
}
#inforight {
	right:0;
}
#infocenter {
	left:0; right:0;
}
.columnimage {
	width: 104px;
	height: 104px;
	position: absolute;
	margin: auto;
	left:0; right: 0; top: 30px;
}
#leftcolumn > .columnimage {
	background-position: -546px 0;
}
#rightcolumn > .columnimage {
	background-position: -330px 0;
}
#centercolumn > .columnimage {
	background-position: -436px 0;
}
#leftcolumn, #rightcolumn, #centercolumn {
	-moz-transition: 0.8s;
	-o-transition: 0.8s ease-out;
	-ms-transition: 0.8s ease-out;
	-webkit-transition: 0.8s;
	transition: 0.8s;
	font-family: "Museo-500";
	font-size: 12px;
	width: 100%;
	height: 200%;
	position: absolute;
	padding-top: 157px;
	text-align: center;
	top: 0%;
}
#leftcolumn:hover, #rightcolumn:hover, #centercolumn:hover {
	top:-100%;
}
.columnfooter {
	position: relative;
	top: 150px;
	font-size: 11px;
	line-height: 17px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
	#piggy {
		background-image: url("../images/piggy_large@2x.gif");
	}
	#logotext {
		background-image: url("../images/logotext_large@2x.gif");
	}
}

/* ANIMATION */

/* SPIN THAT SHIT */

@-webkit-keyframes auto-shake {
	0% {
		-webkit-transform: rotate(0deg);
	}
	35% {
		-webkit-transform: rotate(55deg);
	}
	50% {
		-webkit-transform: rotate(-35deg);
	}
	70% {
		-webkit-transform: rotate(20deg);
	}
	90% {
		-webkit-transform: rotate(-10deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes auto-shake {
	0% {
		-moz-transform: rotate(0deg);
	}
	35% {
		-moz-transform: rotate(55deg);
	}
	50% {
		-moz-transform: rotate(-35deg);
	}
	70% {
		-moz-transform: rotate(20deg);
	}
	90% {
		-moz-transform: rotate(-10deg);
	}
	100% {
		-moz-transform: rotate(0deg);
	}
}
@-o-keyframes auto-shake {
	0% {
		-o-transform: rotate(0deg);
	}
	35% {
		-o-transform: rotate(55deg);
	}
	50% {
		-o-transform: rotate(-35deg);
	}
	70% {
		-o-transform: rotate(20deg);
	}
	90% {
		-o-transform: rotate(-10deg);
	}
	100% {
		-o-transform: rotate(0deg);
	}
}
@-ms-keyframes auto-shake {
	0% {
		-ms-transform: rotate(0deg);
	}
	35% {
		-ms-transform: rotate(55deg);
	}
	50% {
		-ms-transform: rotate(-35deg);
	}
	70% {
		-ms-transform: rotate(20deg);
	}
	90% {
		-ms-transform: rotate(-10deg);
	}
	100% {
		-ms-transform: rotate(0deg);
	}
}
@keyframes auto-shake {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(55deg);
	}
	50% {
		transform: rotate(-35deg);
	}
	70% {
		transform: rotate(20deg);
	}
	90% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* SPIN AGAIN */

@-webkit-keyframes hover-shake {
	0% {
		-webkit-transform: rotate(0deg);
	}
	30% {
		-webkit-transform: rotate(-30deg);
	}
	50% {
		-webkit-transform: rotate(20deg);
	}
	70% {
		-webkit-transform: rotate(-10deg);
	}
	90% {
		-webkit-transform: rotate(5deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes hover-shake {
	0% {
		-moz-transform: rotate(0deg);
	}
	30% {
		-moz-transform: rotate(-30deg);
	}
	50% {
		-moz-transform: rotate(20deg);
	}
	70% {
		-moz-transform: rotate(-10deg);
	}
	90% {
		-moz-transform: rotate(5deg);
	}
	100% {
		-moz-transform: rotate(0deg);
	}
}
@-o-keyframes hover-shake {
	0% {
		-o-transform: rotate(0deg);
	}
	30% {
		-o-transform: rotate(-30deg);
	}
	50% {
		-o-transform: rotate(20deg);
	}
	70% {
		-o-transform: rotate(-10deg);
	}
	90% {
		-o-transform: rotate(5deg);
	}
	100% {
		-o-transform: rotate(0deg);
	}
}
@-ms-keyframes hover-shake {
	0% {
		-ms-transform: rotate(0deg);
	}
	30% {
		-ms-transform: rotate(-30deg);
	}
	50% {
		-ms-transform: rotate(20deg);
	}
	70% {
		-ms-transform: rotate(-10deg);
	}
	90% {
		-ms-transform: rotate(5deg);
	}
	100% {
		-ms-transform: rotate(0deg);
	}
}
@keyframes hover-shake {
	0% {
		transform: rotate(0deg);
	}
	30% {
		ransform: rotate(-30deg);
	}
	50% {
		transform: rotate(20deg);
	}
	70% {
		transform: rotate(-10deg);
	}
	90% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/*LOADING SPIN*/

@-webkit-keyframes loadingspin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	20% {
		-webkit-transform: rotate(70deg);
	}
	70% {
		-webkit-transform: rotate(-400deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}
@-moz-keyframes loadingspin {
	0% {
		-moz-transform: rotate(0deg);
	}
	20% {
		-moz-transform: rotate(70deg);
	}
	70% {
		-moz-transform: rotate(-400deg);
	}
	100% {
		-moz-transform: rotate(-360deg);
	}
}
@-o-keyframes loadingspin {
	0% {
		-o-transform: rotate(0deg);
	}
	20% {
		-o-transform: rotate(70deg);
	}
	70% {
		-o-transform: rotate(-400deg);
	}
	100% {
		-o-transform: rotate(-360deg);
	}
}
@-ms-keyframes loadingspin {
	0% {
		-ms-transform: rotate(0deg);
	}
	20% {
		-ms-transform: rotate(70deg);
	}
	70% {
		-ms-transform: rotate(-400deg);
	}
	100% {
		-ms-transform: rotate(-360deg);
	}
}
@keyframes loadingspin {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(70deg);
	}
	70% {
		transform: rotate(-400deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

/* ENTER ARROW */

@-webkit-keyframes enterarrow {
	0% {
		left: 0px;
	}
	5% {
		left: -5px;
	}
	15% {
		left: 0px;
	}
	20% {
		left: -5px;
	}
	35% {
		left: 0px;
	}
	100% {
		left: 0px;
	}
}
@-moz-keyframes enterarrow {
	0% {
		left: 0px;
	}
	5% {
		left: -5px;
	}
	15% {
		left: 0px;
	}
	20% {
		left: -5px;
	}
	35% {
		left: 0px;
	}
	100% {
		left: 0px;
	}
}
@-o-keyframes enterarrow {
	0% {
		left: 0px;
	}
	5% {
		left: -5px;
	}
	15% {
		left: 0px;
	}
	20% {
		left: -5px;
	}
	35% {
		left: 0px;
	}
	100% {
		left: 0px;
	}
}
@-ms-keyframes enterarrow {
	0% {
		left: 0px;
	}
	5% {
		left: -5px;
	}
	15% {
		left: 0px;
	}
	20% {
		left: -5px;
	}
	35% {
		left: 0px;
	}
	100% {
		left: 0px;
	}
}
@keyframes enterarrow {
	0% {
		left: 0px;
	}
	5% {
		left: -5px;
	}
	15% {
		left: 0px;
	}
	20% {
		left: -5px;
	}
	35% {
		left: 0px;
	}
	100% {
		left: 0px;
	}
}

/*PLUS AVATAR*/

@-webkit-keyframes plusavatar {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes plusavatar {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes plusavatar {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-ms-keyframes plusavatar {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes plusavatar {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}